@import 'bootstrap';

* {
  @apply .font-sans;
}

body {
  @apply .font-bold .bg-brand-darkest .text-xl .text-white .uppercase;
}

#site-main {
  @apply .flex .items-center .justify-center .h-screen;

  #site-content {
    @apply .text-center .p-6 .w-screen;
  }
}

.steps {
  .step {
    transition: all .6s;

    &.is-bold {
      @apply .text-2xl;
      transition-duration: .3s;
    }

    &.step-enter {
      opacity: 0;
    }
    &.step-enter-to {
      opacity: 1;
    }
    &.step-leave {
      opacity: 1;
    }
    &.step-leave-to {
      opacity: 0;
    }

    &.step-reverse-enter {
      opacity: 0;
    }
    &.step-reverse-enter-to {
      opacity: 1;
    }
    &.step-reverse-leave {
      opacity: 1;
    }
    &.step-reverse-leave-to {
      opacity: 0;
    }

    &.should-leave-slow {
      &.step-leave-active {
        transition-duration: 1.5s;
      }
    }
  }
}

.screen-contact {
  @apply .mx-auto;
  width: 400px;

  .form {
    transition: all .75s;
    height: 152px;

    &.form-enter {
      height: 0;

      .form-content {
        opacity: 0;
      }
    }
    &.form-enter-to {
      height: 152px;

      .form-content {
        opacity: 1;
      }
    }

    .form-content {
      transition: all .6s;
      transition-delay: .75s;
    }
  }
}

@include to-screen(md) {
  html {
    font-size: 14px;
  }
}

@include to-screen(sm) {
  html {
    font-size: 12px;
  }

  .screen-contact {
    @apply .w-full;
  }
}
