<template>
    <div class="screen-contact">
        <h1 class="title">The Wild & Civilized</h1>

        <transition name="form">
            <div v-if="showForm" class="form">
                <form @submit.prevent="send">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" v-model="form.email" class="input" name="email" placeholder="my@email.com" autofocus required />
                        </div>

                        <button class="button" type="submit" :disabled="loading || success === true">
                            <span v-if="loading">Sending...</span>
                            <span v-else-if="success === true">Thanks! We'll be in touch!</span>
                            <span v-else-if="success === false">Oops! Something went wrong</span>
                            <span v-else>Get in touch</span>
                        </button>
                    </div>
                </form>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: 'contact',

        data() {
            return {
                showForm: false,
                form: {
                    email: '',
                },
                loading: false,
                success: undefined,
            }
        },

        mounted() {
            setTimeout(() => {
                this.showForm = true;
            }, 750);
        },

        methods: {
            async send() {
                this.loading = true;

                const response = await this.$api.post('contact-request.create', {}, {data: this.form});

                this.loading = false;
                this.success = !!response.success;
            },

            reset() {
                this.success = undefined;
                this.form.email = '';
            }
        },

        watch: {
            success(v) {
                if (v === false) {
                    setTimeout(() => {
                        this.reset();
                    }, 2000);
                }
            }
        }
    }
</script>
