<template>
    <div class="step">
        <slot></slot>
    </div>
</template>

<script>
    export default {

        /**
         * Name is required in order for Steps to work properly!
         */
        name: 'step',

        props: {

            /**
             * In case of autoplay of Steps: this will be the duration in ms of the Step being displayed.
             * False when the Step shouldn't automatically disappear (i.e. last screen, or when you want to have control in autoplay).
             */
            duration: {
                type: [Number, Boolean]
            }

        }
    }
</script>
