.button {
  @apply .border-2 .text-white .text-base .py-3 .px-10 .bg-transparent .uppercase;
  border-color: rgba(70, 87, 103, .28); // Color: brand-light

  &:enabled {
    @apply .cursor-pointer;

    &:hover {
      @apply .border-brand-light;
    }
  }

  &:disabled {
    @apply .cursor-default;
  }
}
