.form-group {
  @apply .mb-10;
}

.input {
  @apply .w-full .text-base .pb-3 .text-center .normal-case .text-brand-light .border-0 .border-b-2 .border-brand-light .bg-transparent;
  caret-color: #fff;

  &:focus {
    @apply .outline-none;
  }

  &::placeholder {
    @apply .text-brand-light;
  }
}
