@mixin screen($class) {
  @if $class == sm {
    @media (min-width: config('screens.sm')) and (max-width: config('screens.to-md')) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: config('screens.md')) and (max-width: config('screens.to-lg')) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: config('screens.lg')) and (max-width: config('screens.to-xl')) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: config('screens.xl')) {
      @content;
    }
  } @else {
    @warn "From-screen mixin supports: sm, md, lg, xl";
  }
}

@mixin from-screen($class) {
  @if $class == sm {
    @media (min-width: config('screens.sm')) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: config('screens.md')) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: config('screens.lg')) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: config('screens.xl')) {
      @content;
    }
  } @else {
    @warn "From-screen mixin supports: sm, md, lg, xl";
  }
}

@mixin to-screen($class) {
  @if $class == sm {
    @media (max-width: config('screens.to-sm')) {
      @content;
    }
  } @else if $class == md {
    @media (max-width: config('screens.to-md')) {
      @content;
    }
  } @else if $class == lg {
    @media (max-width: config('screens.to-lg')) {
      @content;
    }
  } @else if $class == xl {
    @media (max-width: config('screens.to-xl')) {
      @content;
    }
  } @else {
    @warn "To-screen mixin supports: sm, md, lg, xl";
  }
}

@mixin landscape($device: false) {
  @if $device == mobile {
    @media (min-height: config('screens.sm')) and (max-height: config('screens.to-md')) and (orientation: landscape) {
      @content;
    }
  } @else if $device == tablet {
    @media (min-height: config('screens.md')) and (max-height: config('screens.to-lg')) and (orientation: landscape) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-height: config('screens.lg')) and (max-height: config('screens.to-xl')) and (orientation: landscape) {
      @content;
    }
  } @else {
    @media all and (orientation: landscape) {
      @content;
    }
  }
}

@mixin portrait($device: false) {
  @if $device == mobile {
    @media (min-width: config('screens.sm')) and (max-width: config('screens.to-md')) and (orientation: portrait) {
      @content;
    }
  } @else if $device == tablet {
    @media (min-width: config('screens.md')) and (max-width: config('screens.to-lg')) and (orientation: portrait) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: config('screens.lg')) and (max-width: config('screens.to-xl')) and (orientation: portrait) {
      @content;
    }
  } @else {
    @media all and (orientation: portrait) {
      @content;
    }
  }
}

@mixin landscape-to($device) {
  @if $device == mobile {
    @media (max-height: config('screens.to-sm')) and (orientation: landscape) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-height: config('screens.to-md')) and (orientation: landscape) {
      @content;
    }
  } @else if $device == desktop {
    @media (max-height: config('screens.to-xl')) and (orientation: landscape) {
      @content;
    }
  } @else {
    @warn "Landscape-to mixin supports: mobile, tablet, desktop";
  }
}

@mixin portrait-to($device) {
  @if $device == mobile {
    @media (max-width: config('screens.to-sm')) and (orientation: portrait) {
      @content;
    }
  } @else if $device == tablet {
    @media (max-width: config('screens.to-md')) and (orientation: portrait) {
      @content;
    }
  } @else if $device == desktop {
    @media (max-width: config('screens.to-xl')) and (orientation: portrait) {
      @content;
    }
  } @else {
    @warn "Portrait-to mixin supports: mobile, tablet, desktop";
  }
}
