<template>
    <div v-show="isLoading" class="loading"></div>
</template>

<script>
    export default {
        name: "loader",

        computed: {
            isLoading() {
                return this.$loader.isLoading();
            }
        }
    }
</script>
